APP_NAME=Tetra Server
APP_ENV=development
PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=tetra
DB_SSLMODE=disable
DB_TIMEZONE=UTC

JWT_SECRET=super-secret-key
JWT_ACCESS_EXPIRE=15
JWT_REFRESH_EXPIRE=168